<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- base:css -->
    <link rel="stylesheet" href="/vendors/typicons/typicons.css">
    <link rel="stylesheet" href="/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <link rel="stylesheet" href="/vendors/select2/select2.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/css/vertical-layout-light/style.css">
        <title>بيت خلوة - الانبا بيشوى - @ViewData["Title"]</title>
        <link rel="shortcut icon" href="/images/favicon.png" />
        
</head>

<body>
    <div class="container-scroller">
        @RenderBody()
    </div>
   <!-- container-scroller -->
   <!-- base:js -->
   <script src="/vendors/js/vendor.bundle.base.js"></script>
   <!-- endinject -->
   <!-- inject:js -->
   <script src="/js/off-canvas.js"></script>
   <script src="/js/hoverable-collapse.js"></script>
   <script src="/js/template.js"></script>
   <script src="/js/settings.js"></script>
   <script src="/js/todolist.js"></script>
   <!-- endinject -->
   <!-- plugin js for this page -->
   <script src="/vendors/typeahead.js/typeahead.bundle.min.js"></script>
   <script src="/vendors/select2/select2.min.js"></script>
   <!-- End plugin js for this page -->
   <!-- Custom js for this page-->
   <script src="/js/file-upload.js"></script>
   <script src="/js/typeahead.js"></script>
   <script src="/js/select2.js"></script>
   <!-- End custom js for this page-->

   <!--Validation scripts-->
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <!--End Validation scripts-->
</body>

</html>