@using DairElAnbaBeshoy.Core.Defaults

@inject SignInManager<ApplicationUser> signinManager;
@inject UserManager<ApplicationUser> userManager;
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>بيت خلوة - الانبا بيشوى - @ViewData["Title"]</title>
        <link rel="shortcut icon" href="/images/favicon.png" />
    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;700;900&display=swap" rel="stylesheet">

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-icons.css" rel="stylesheet">

    <link rel="stylesheet" href="/css/magnific-popup.css">

    <link href="/css/aos.css" rel="stylesheet">

    <link href="/css/templatemo-nomad-force.css" rel="stylesheet">


</head>

<body>



        <section class="hero" id="hero">
            <div class="heroText">
                <h1 class="text-white mt-5 mb-lg-4" data-aos="zoom-in" data-aos-delay="800">
                    دير الانبا بيشوى العامر بوادى النطرون
                </h1>


            </div>

            <div class="videoWrapper">
                <video autoplay="" loop="" muted="" class="custom-video" poster="/images/pic1.jpeg">
                    <source src="/images/pic1.jpeg" type="video/mp4">

                    Your browser does not support the video tag.
                </video>

                <!--  <img src="images/pic1.jpeg" class="img-fluid about-image" alt="">-->
            </div>

            <div class="overlay"></div>
        </section>

        <nav class="navbar navbar-expand-lg bg-light shadow-lg">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <strong>بيت الخلوة</strong>
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/#hero">الصفحه الرئيسيه </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/#about">نبذة عن الدير</a>
                        </li>
                    @if (signinManager.IsSignedIn(User))
                    {
                        @if(User.IsInRole(nameof(Roles.BasicUser)))
                        {
                        <li class="nav-item">
                            <a class="nav-link" href="/reserve/retreat">حجز الخلوة </a>
                        </li>
                        }else if(User.IsInRole(nameof(Roles.Admin)))
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="/admin/viewall"> عرض كل الحجزات </a>
                            </li>
                        }

                        <li class="nav-item">
                            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                <button type="submit" class="nav-link btn btn-link ">تسجيل الخروج</button>
                            </form>
                        </li>
                    }
                    @if(!signinManager.IsSignedIn(User)){
                        <li class="nav-item">
                            <a class="nav-link" href="/identity/account/login">تسجيل الدخول </a>
                        </li>
                        }

                    </ul>
                </div>
            </div>
        </nav>

            @RenderBody()

        <!-- JAVASCRIPT FILES -->
        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.bundle.min.js"></script>
        <script src="/js/jquery.sticky.js"></script>
        <script src="/js/aos.js"></script>
        <script src="/js/jquery.magnific-popup.min.js"></script>
        <script src="/js/magnific-popup-options.js"></script>
        <script src="/js/scrollspy.min.js"></script>
        <script src="/js/custom.js"></script>


        
      @RenderSection("Scripts", false)
</body>
</html>